.main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container > h1 {
    top: 10%;
    font-size: 5rem;
    position: absolute;
    color: #fff;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    width: 500px;
    height: 70px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: #aaa;
    background-color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    transition: all 0.15s ease-out;
}

.project > span {
    font-size: 2rem;
}

.project:hover {
    transform: scale(1.1);
    color: #000;
    box-shadow: 0 0 10px #fff;
}
