.game {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.status {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.reset-button {
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 2em;
    cursor: pointer;
    background-color: #ee5a24;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.15s ease-out;
}

.reset-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ee5a24;
}

.game-board {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.board-row {
    display: flex;
}

.square {
    background: #fff;
    border: 1px solid #000;
    float: left;
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    flex-grow: 1;
    color: #fff;
}

.square:focus {
    outline: none;
    background-color: #dff;
}
